@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* block level italic xml lang */
blockquote[xml|lang]{
	font-style: italic;
}
/* end block level italics */

/* Figure */
figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

figcaption p + p{
	text-indent: 0;
}
/* End Figure */

/* Verse, Poem, Song, Hymn */
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:hymn"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p,
[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:hymn"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:hymn"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:hymn"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}
/* End Verse */

/* Drama */
[epub|type~="z3998:drama"] table,
table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"] [epub|type~="z3998:persona"],
em [epub|type~="z3998:persona"],
i [epub|type~="z3998:persona"]{
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

section[epub|type~="z3998:scene"] > p{
	margin: 1em auto;
	width: 75%;
}
/* End Drama */

/* Custom Styles */
/* Customized dramatic dialogue between an 
     imagined reader and the writer used in this book */
[epub|type~="z3998:drama"].lector-auctor-dialogue td:last-child{
	width: 100%;
}

[epub|type~="z3998:drama"].lector-auctor-dialogue td[epub|type~="z3998:persona"]{
	width: unset;
}
/* End customized dramatic dialogue */

span#line137smalltext{
	font-size: 70%;
}

#the-path-to-rome > ol:nth-of-type(3) > li:first-of-type{
	list-style-type: none;
}

span#large-offset-H{
	font-family: sans-serif;
	font-size: 140%;
	position: relative;
	top: .1em;
}

/* bracketed lists, with curly brace and rotated text after curly brace 
   falls back to simple list followed by text and no curly brace when flex layout or transforms are unsupported */
div.bracketed-list-with-label{
	display: inline-block;
	padding: 1em;
	padding-right: 1.5em;
}

div.bracketed-list-with-label > ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.bracketed-list-with-label > span{
	display: block;
	margin-top: 1em;
}

/* Must support flexbox and transform */
@supports((display: inline-flex) and (display: flex) and (transform: rotate(90deg))){
	div.bracketed-list-with-label{
		display: inline-flex;
	}

	div.bracketed-list-with-label > ul{
		position: relative;
	}

	div.bracketed-list-with-label > ul::after{
		background-image: url("../images/curly-bracket.svg");
		background-size: 100% 100%;
		content: " ";
		height: 100%;
		position: absolute;
		right: -1.5em;
		top: 0;
		width: 1em;
	}

	div.bracketed-list-with-label > span{
		align-items: center;
		display: flex;
		justify-content: center;
		margin-left: 2em;
		margin-top: 0;
		transform: rotate(-90deg);
		white-space: nowrap;
		width: 1em;
	}

	/* Customize spacing and size for shorter lists */
	div.bracketed-list-with-label:nth-of-type(3) > ul::after{
		width: .75em;
	}

	div.bracketed-list-with-label:nth-of-type(4) > ul::after{
		right: -1em;
		width: .5em;
	}

	div.bracketed-list-with-label:nth-of-type(4) > span{
		margin-left: 1.25em;
	}
}
/* end bracketed lists */

/* indententation within 3rd bracketed list */
#the-path-to-rome div.bracketed-list-with-label:nth-of-type(3) > ul > li:nth-of-type(7){
	padding-left: 4em;
	text-indent: -1em;
}

#the-path-to-rome div.bracketed-list-with-label:nth-of-type(3) > ul > li:nth-of-type(8){
	padding-left: 2em;
	text-indent: -1em;
}

/* 'plays without words' section */
#illustration-plays-without-words-musical-notes{
	height: 3em;
	vertical-align: middle;
}

#illustration-plays-without-words-duchess-finger{
	height: 2em;
	vertical-align: middle;
}

#illustration-plays-without-words-sine-wave{
	height: .75em;
	vertical-align: middle;
}

#illustration-plays-without-words-crossed-swords{
	height: 1em;
	vertical-align: bottom;
}

#illustration-plays-without-words-rectangles{
	height: 1em;
}
/* end 'plays without words' section */

