@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* block level italic xml lang */
blockquote[xml|lang]{
	font-style: italic;
}
/* end block level italics */

/* Verse, Poem, Song, Hymn */
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:hymn"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p,
[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:hymn"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:hymn"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:hymn"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}
/* End Verse */

/* Drama */
[epub|type~="z3998:drama"] table,
table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"] [epub|type~="z3998:persona"],
em [epub|type~="z3998:persona"],
i [epub|type~="z3998:persona"]{
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

section[epub|type~="z3998:scene"] > p{
	margin: 1em auto;
	width: 75%;
}
/* End Drama */

/* Era */
abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}
/* End Era */

/* Custom Styles */
/* Poetry blockquote headers */
[epub|type~="z3998:poem"] header p,
[epub|type~="z3998:song"] header p{
	text-align: center;
}

[epub|type~="z3998:poem"] header p > span[epub|type~="z3998:roman"]{
	display: inline;
	padding-left: 0;
	text-indent: 0;
}

[epub|type~="z3998:poem"] header p + p{
	margin-top: 0;
}
/* End poetry blockquote headers */

/* small page headers above each printed page which section the text */
section#the-path-to-rome section > header p{
	font-variant: small-caps;
	margin-right: 2em;
	margin-top: 1em;
	padding-bottom: 0;
	text-align: right;
}

section#the-path-to-rome section header + p{
	text-indent: 1em;
}

section#the-path-to-rome section:nth-of-type(1) header + p{
	text-indent: 0;
}

section#the-path-to-rome section > header + *{
	margin-top: .5em;
}
/* end headers above each page */

/* Customized dramatic dialogue between an imagined reader ('Lector') and the writer ('Auctor') */
p.lector-auctor-dialogue{
	margin-top: 0.5em;
	text-indent: 1em;
}

p.lector-auctor-dialogue b[epub|type~="z3998:persona"]{
	font-variant: small-caps;
	margin-right: 0.5em;
}
/* End customized dramatic dialogue */

/* bracketed lists, with curly brace and rotated text after curly brace 
   falls back to simple list followed by text and no curly brace when flex layout or transforms are unsupported */
div.bracketed-list-with-label{
	display: inline-block;
	padding: 1em;
	padding-right: 1.5em;
}

div.bracketed-list-with-label > ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.bracketed-list-with-label > span{
	display: block;
	margin-top: 1em;
}

/* Must support flexbox and transform */
@supports((display: inline-flex) and (display: flex) and (transform: rotate(90deg))){
	div.bracketed-list-with-label{
		display: inline-flex;
	}

	div.bracketed-list-with-label > ul{
		position: relative;
	}

	div.bracketed-list-with-label > ul::after{
		background-image: url("../images/curly-bracket.svg");
		background-size: 100% 100%;
		content: " ";
		height: 100%;
		position: absolute;
		right: -1.5em;
		top: 0;
		width: 1em;
	}

	div.bracketed-list-with-label > span{
		align-items: center;
		display: flex;
		justify-content: center;
		margin-left: 2em;
		margin-top: 0;
		transform: rotate(-90deg);
		white-space: nowrap;
		width: 1em;
	}

	/* Customize spacing and size for shorter lists */
	div.bracketed-list-with-label:nth-of-type(3) > ul::after{
		width: .75em;
	}

	div.bracketed-list-with-label:nth-of-type(4) > ul::after{
		right: -1em;
		width: .5em;
	}

	div.bracketed-list-with-label:nth-of-type(4) > span{
		margin-left: 1.25em;
	}
}
/* end bracketed lists */

/* Small styled letters */
#the-path-to-rome #the-ridiculous-town-hall span{
	font-size: .75em;
}

/* Large 'H' character */
#the-path-to-rome #more-on-style span{
	font-family: sans-serif;
	font-size: 1.5em;
	vertical-align: middle;
}

/* 'Theory of Blessings' section, don't display interrupted list item number again */
#the-path-to-rome #theory-of-blessings > ol:nth-of-type(2) > li:nth-of-type(1){
	list-style-type: none;
}

/* 'plays without words' section */
/* illustration-plays-without-words-musical-notes */
section#the-path-to-rome section#plays-without-words table tr:nth-of-type(4) img{
	height: 3em;
	vertical-align: top;
}

/* illustration-plays-without-words-duchess-finger */
section#the-path-to-rome section#plays-without-words table tr:nth-of-type(5) img{
	height: 1.25em;
	vertical-align: top;
}

/* illustration-plays-without-words-sine-wave */
section#the-path-to-rome section#plays-without-words table tr:nth-of-type(6) img{
	height: .75em;
	vertical-align: middle;
}

/* illustration-plays-without-words-crossed-swords */
section#the-path-to-rome section#plays-without-words table tr:nth-of-type(9) img{
	height: 1em;
	vertical-align: top;
}

/* illustration-plays-without-words-rectangles */
section#the-path-to-rome section#plays-without-words table tr:nth-of-type(10) img{
	height: 1em;
	vertical-align: middle;
}
/* end 'plays without words' section */

/* indentation within final list for 'these circumstances' */
section#the-path-to-rome section#in-all-these-circumstances div:nth-of-type(3) li:nth-of-type(7){
	padding-left: 4em;
	text-indent: -1em;
}

section#the-path-to-rome section#in-all-these-circumstances div:nth-of-type(3) li:nth-of-type(8){
	padding-left: 2em;
	text-indent: -1em;
}
/* end indentation within final bracketed list */

section#story-of-mr-hard ul{
	list-style: none;
	list-style-type: none;
}

/* Illustrations */
/* Figure */
/* If the image is meant to be on its own page, use this selector... */
figure.full-page{
	break-after: page;
	break-before: page;
	break-inside: avoid;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}

/* If the image is meant to be aligned block-level with the text, use this selector... */
figure{
	break-inside: avoid;
	margin: 1em auto;
	text-align: center;
}

/* In all cases, also include the below styles */
figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

figcaption p + p{
	text-indent: 0;
}

figure#illustration-48 img,
figure#illustration-49 img 
{
	max-width: 90vw;
	max-height: 100px;
}

figure#illustration-48 figcaption p,
figure#illustration-49 figcaption p {
	text-align: center;
}