@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* block level italic xml lang */
blockquote[xml|lang]{
	font-style: italic;
}
/* end block level italics */

/* Verse, Poem, Song, Hymn */
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:hymn"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:hymn"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}
/* End Verse */

/* Drama */
table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}
/* End Drama */

/* Era */
abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}
/* End Era */

/* Illustrations */
figure{
	break-inside: avoid;
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}
/* End Illustrations */

/* Custom Styles (not copied/pasted from the manual) */
/* Shoulder Notes (taken from the headers above each printed page, that section the text) */
section#the-path-to-rome section > header p{
	font-variant: small-caps;
	margin-right: 2em;
	margin-top: 1em;
	padding-bottom: 0;
	text-align: right;
	white-space: nowrap;
}

section#the-path-to-rome section header + p{
	text-indent: 1em;
}

section#the-path-to-rome section:nth-of-type(1) header + p{
	text-indent: 0;
}

section#the-path-to-rome section > header + *{
	margin-top: .5em;
}
/* End shoulder notes */

/* Song blockquote headers */
[epub|type~="z3998:song"] header{
	margin-bottom: 1em;
}
/* End song blockquote headers */

/* Customized dramatic dialogue between an imagined reader ('Lector') and the writer ('Auctor') */
p.lector-auctor-dialogue{
	margin-top: 0.5em;
	text-indent: 1em;
}

p.lector-auctor-dialogue b[epub|type~="z3998:persona"]{
	font-variant: small-caps;
	margin-right: 0.5em;
}
/* End customized dramatic dialogue */

/* Bracketed lists, with curly brace and rotated text after curly brace 
   Falls back to simple list followed by text and no curly brace when flex layout or transforms are unsupported */
div.bracketed-list-with-label{
	display: inline-block;
	padding: 1em;
	padding-right: 1.5em;
}

div.bracketed-list-with-label > ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.bracketed-list-with-label > span{
	display: block;
	margin-top: 1em;
}

/* Must support flexbox and transform */
@supports((display: inline-flex) and (display: flex) and (transform: rotate(90deg))){
	div.bracketed-list-with-label{
		display: inline-flex;
	}

	div.bracketed-list-with-label > ul{
		position: relative;
	}

	div.bracketed-list-with-label > ul::after{
		background-image: url("../images/curly-bracket.svg");
		background-size: 100% 100%;
		content: " ";
		height: 100%;
		position: absolute;
		right: -1.5em;
		top: 0;
		width: 1em;
	}

	div.bracketed-list-with-label > span{
		align-items: center;
		display: flex;
		justify-content: center;
		margin-left: 2em;
		margin-top: 0;
		transform: rotate(-90deg);
		white-space: nowrap;
		width: 1em;
	}

	/* Customize spacing and size for shorter lists */
	div.bracketed-list-with-label:nth-of-type(3) > ul::after{
		width: .75em;
	}

	div.bracketed-list-with-label:nth-of-type(4) > ul::after{
		right: -1em;
		width: .5em;
	}

	div.bracketed-list-with-label:nth-of-type(4) > span{
		margin-left: 1.25em;
	}
}
/* end bracketed lists */

/* Small typeface for quote */
section#the-path-to-rome section#the-ridiculous-town-hall span{
	font-size: .75em;
}

/* Larger typeface 'H' character indicating the shape of the land */
section#the-path-to-rome section#more-on-style span{
	font-family: sans-serif;
	font-size: 1.5em;
	vertical-align: middle;
}

/* 'plays without words' section */
/* illustration-plays-without-words-musical-notes */
section#the-path-to-rome section#plays-without-words table tr:nth-of-type(4) img{
	height: 3em;
	vertical-align: top;
}

/* illustration-plays-without-words-duchess-finger */
section#the-path-to-rome section#plays-without-words table tr:nth-of-type(5) img{
	height: 1.25em;
	vertical-align: top;
}

/* illustration-plays-without-words-sine-wave */
section#the-path-to-rome section#plays-without-words table tr:nth-of-type(6) img{
	height: .75em;
	vertical-align: middle;
}

/* illustration-plays-without-words-crossed-swords */
section#the-path-to-rome section#plays-without-words table tr:nth-of-type(9) img{
	height: 1em;
	vertical-align: top;
}

/* illustration-plays-without-words-rectangles */
section#the-path-to-rome section#plays-without-words table tr:nth-of-type(10) img{
	height: 1em;
	vertical-align: middle;
}
/* end 'plays without words' section */

/* indentation within final list for 'these circumstances' */
section#the-path-to-rome section#in-all-these-circumstances div:nth-of-type(3) li:nth-of-type(7){
	padding-left: 4em;
	text-indent: -1em;
}

section#the-path-to-rome section#in-all-these-circumstances div:nth-of-type(3) li:nth-of-type(8){
	padding-left: 2em;
	text-indent: -1em;
}
/* end indentation within final bracketed list */

section#story-of-mr-hard ul{
	list-style: none;
	list-style-type: none;
}

section#loud-and-final-song blockquote p:nth-of-type(4){
	padding-left: 2em;
}

/* Figure Overrides */
/* Center specific figure captions */
figure#illustration-48 figcaption p,
figure#illustration-49 figcaption p{
	text-align: center;
}

/* Reasonable image sizes for larger screens based on image resolution (roughly ~16 px : 1em) */
/* hr,
blockquote {
	clear: both;
} */
/* Figure widths */
figure#illustration-31,
figure#illustration-44,
figure#illustration-57,
figure#illustration-61,
figure#illustration-67,
figure#illustration-69,
figure#illustration-70{
	max-width: 50em;
}

figure#illustration-1,
figure#illustration-2,
figure#illustration-3,
figure#illustration-5,
figure#illustration-6,
figure#illustration-7,
figure#illustration-9,
figure#illustration-10,
figure#illustration-11,
figure#illustration-12,
figure#illustration-15,
figure#illustration-16,
figure#illustration-17,
figure#illustration-18,
figure#illustration-20,
figure#illustration-21,
figure#illustration-22,
figure#illustration-25,
figure#illustration-28,
figure#illustration-30,
figure#illustration-34,
figure#illustration-37,
figure#illustration-39,
figure#illustration-40,
figure#illustration-63,
figure#illustration-68,
figure#illustration-76{
	max-width: 40em;
}

figure#illustration-4,
figure#illustration-26,
figure#illustration-29,
figure#illustration-45,
figure#illustration-53,
figure#illustration-55,
figure#illustration-60,
figure#illustration-62,
figure#illustration-65,
figure#illustration-73,
figure#illustration-74,
figure#illustration-75,
figure#illustration-80{
	max-width: 30em;
}

figure#illustration-8,
figure#illustration-13,
figure#illustration-14,
figure#illustration-19,
figure#illustration-23,
figure#illustration-21,
figure#illustration-27,
figure#illustration-32,
figure#illustration-33,
figure#illustration-35,
figure#illustration-36,
figure#illustration-38,
figure#illustration-41,
figure#illustration-43,
figure#illustration-46,
figure#illustration-47,
figure#illustration-50,
figure#illustration-51,
figure#illustration-52,
figure#illustration-54,
figure#illustration-56,
figure#illustration-58,
figure#illustration-66,
figure#illustration-71,
figure#illustration-72,
figure#illustration-77,
figure#illustration-78{
	max-width: 20em;
}

figure#illustration-24,
figure#illustration-42,
figure#illustration-59,
figure#illustration-64{
	max-width: 10em;
}
/* End figure widths */

/* specify image heights for tall images */
figure img{
	max-height: 95vh;
}

figure#illustration-4 img,
figure#illustration-19 img,
figure#illustration-29 img,
figure#illustration-32 img,
figure#illustration-33 img,
figure#illustration-36 img,
figure#illustration-37 img{
	min-height: 30em;
}

figure#illustration-24 img{
	max-height: 30em;
}

figure#illustration-36 img,
figure#illustration-37 img,
figure#illustration-45 img{
	max-height: 40em;
}

/* Music */
figure#illustration-48 img,
figure#illustration-49 img,
figure#illustration-79 img{
	max-width: 35em;
}

/* Float some images alternating to the left and right on larger screens, based on text size and appropriate image resolution */
@media(min-width: 60em){
	figure#illustration-4,
	figure#illustration-6,
	figure#illustration-10,
	figure#illustration-13,
	figure#illustration-15,
	figure#illustration-18,
	figure#illustration-20,
	figure#illustration-22,
	figure#illustration-24,
	figure#illustration-34,
	figure#illustration-51,
	figure#illustration-53,
	figure#illustration-73{
		clear: right;
		float: right;
		margin-left: 1em;
	}

	figure#illustration-5,
	figure#illustration-7,
	figure#illustration-9,
	figure#illustration-11,
	figure#illustration-17,
	figure#illustration-26,
	figure#illustration-28,
	figure#illustration-30,
	figure#illustration-37,
	figure#illustration-60,
	figure#illustration-68{
		clear: left;
		float: left;
		margin-right: 1em;
	}
}

@media(min-width: 50em){
	figure#illustration-29,
	figure#illustration-51,
	figure#illustration-62{
		clear: right;
		float: right;
		margin-left: 1em;
	}

	figure#illustration-52{
		clear: left;
		float: left;
		margin-right: 1em;
	}
}

@media(min-width: 40em){
	figure#illustration-8,
	figure#illustration-13,
	figure#illustration-27,
	figure#illustration-32,
	figure#illustration-36,
	figure#illustration-38,
	figure#illustration-47,
	figure#illustration-56,
	figure#illustration-59,
	figure#illustration-66,
	figure#illustration-71,
	figure#illustration-77{
		float: right;
		margin-left: 1em;
	}

	figure#illustration-14,
	figure#illustration-19,
	figure#illustration-21,
	figure#illustration-23,
	figure#illustration-33,
	figure#illustration-35,
	figure#illustration-43,
	figure#illustration-46,
	figure#illustration-50,
	figure#illustration-54,
	figure#illustration-58,
	figure#illustration-64,
	figure#illustration-72,
	figure#illustration-75{
		clear: left;
		float: left;
		margin-right: 1em;
	}
}

@media(min-width: 10em){
	figure#illustration-24{
		clear: right;
		float: right;
		margin-right: 1em;
	}
}

/* figures that clear floats above them */
figure#illustration-23,
figure#illustration-31,
figure#illustration-48,
figure#illustration-74{
	clear: both;
}
